.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #463e3e;
  background: url('https://www.transparenttextures.com/patterns/stardust.png') repeat; 
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  color: rgba(45, 41, 41, 0.418);
  font-size: 2.5rem;
  font-family: Roboto, 'Arial, sans-serif'; 
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.148); 
}

.navbar-links {
  list-style: none;
  display: flex;
  color: #463e3e;
  gap: 20px;
}

.navbar-links li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  
  text-decoration: none;
  font-family: Roboto;
  transition: color 0.3s;
  position: relative;
}

.navbar-links li a:after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  text-decoration: none;
  font-family: Roboto;
  background-color: #775b84;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.navbar-links li a:hover {
  color: #ff69b4;
}

.navbar-links li a:hover:after {
  transform: scaleX(1);
}
